/data/CSSE-COVID-19/
/tests/tmpdir/
/epifor.egg-info/
/out/

.vscode
__pycache__
notebooks/.ipynb_checkpoints
_attic/
*.pyc

venv

.idea/
config-local.yaml
data-staging-gleam.json
definition-local.xml
foretold_data.json